<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <script src="/static/index.js"></script>
    <%- include('./header')%>
</head>
<body>
    <%= result %>
</body>
<script type="text/javascript">

</script>
</html>