<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <%- include('./header')%>
</head>
<body>
    <form action="/logout" method="POST">
        <input type="submit" value="logout"/>
    </form>
</body>
<script type="text/javascript"></script>
</html>