<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <script src="/static/index.js"></script>
    <%- include('./header')%>
</head>
<body>
    <div id="containers">
        <form action="/register" method="POST">
            <input value="" type="text" name="user_name"/>  <br>
            <input value="" type="password" name="pass_word"/> <br>
            <input value="" type="text" name="mail"/> <br>
        	<input type="submit" value="sub"/>
    	</form>
    </div>
</body>
<script type="text/javascript">

</script>
</html>