<script src="https://cdn.bootcss.com/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<div class="blog-top pt-2 pb-2">
	<div class="blog-top-content">
        <ul class="nav nav-pills">
    	<% if(token) { %>
            <li class="nav-item">
                <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                   <%= token.userName %>！
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/al/<%= token.userId %>">文章列表</a>
                    <span class="dropdown-item-text">item text</span>
                    <div class="dropdown-divider"></div>
                    <span class="dropdown-item-text cursor loginout">退出</span>
                  </div>
                </div>
            </li>
    	<% } else { %>
            <li class="nav-item">
                <a class="nav-link active" href="/login">去登陆</a>
            </li>
    	<% } %>
            <li class="nav-item">
                <a class="nav-link" href="/edit">写文章</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/send">写邮件</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">首页</a>
            </li>
        </ul>
	</div>
</div>
<script type="text/javascript">
    $(function(){
            var redirect = getUrlParam('redirect') || '/';
            $('.loginout').on('click',function(){
                loginout();
            })
            function loginout(){
                pjaxs({
                url:'/loginout',
                method:'post',
                }).then(function(res){
                    console.log(res)
                    if(res && res.code == 200){
                        setTimeout(function(){
                           location.reload(true);
                        },50)
                    }
                });
            }
    })
</script>