<div class="blog-top">
	<div class="blog-top-content w990">
        <ul class="nav nav-pills">
    	<% if(token) { %>
            <li class="nav-item">
                <a class="nav-link disabled" tabindex="-1" aria-disabled="true" href="javascript:;">
                    你好：<%= token.userName %>！</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active loginout" href="javascript:;">退出</a>
            </li>
    	<% } else { %>
            <li class="nav-item">
                <a class="nav-link active" href="/login">去登陆</a>
            </li>
    	<% } %>
            <li class="nav-item">
                <a class="nav-link" href="/send">写邮件</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/edit">写文章</a>
            </li>
        </ul>
	</div>
</div>
<script type="text/javascript">
    $(function(){
            var redirect = getUrlParam('redirect') || '/';
            $('.loginout').on('click',function(){
                  loginout();
            })
            function loginout(){
                pjaxs({
                url:'/loginout',
                method:'post',
                }).then(function(res){
                    console.log(res)
                    if(res && res.code == 200){
                        window.location.reload();
                    }
                });
            }
    })
</script>